{% extends 'base.html' %}

{% block title %}Batch Details{% endblock %}

{% block content %}
    <div>
        <strong>The Batch {{ batch.batch_name }}.</strong>
        <p>Meeet your fellow batchmates. 
            You will also be able to connect with them in future versions.</p>
    </div>
    <p>Total students: {{ students|length }}</p>

    <table>
    <tr>
        <th>Name</th>&nbsp;&nbsp;&nbsp;
        <th>View Profiles</th>
    </tr>

    {% for student in students %}
        <tr>
            <td>
                <a href="{% url 'profile' student.user.id %}">{{ student.user.username }}</a>
            </td>
            <td>{{ student.user.email }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
