<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registraion</title>
    <style>
        body{
            padding: 5%;
            margin: auto;
            background-color: cornsilk;
            color: black;
        }

        .form{
            justify-content: center;
            text-align: center;
        }

    </style>
</head>
<body>
    <div>
        <h3>Please provide necessary detials and register</h3>
    </div>
    <form action="{% url 'registration' %}" method="post" class="form">
        {% csrf_token %}

        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <label for="batch">Batch</label>
        <input type="text" name="batch" id="batch">
        <br>
        <br>
        <label for="course">Course</label>
        <input type="text" name="course" id="course">
        <br>
        <br>
        <button type="reset">Reset</button> &nbsp; &nbsp; &nbsp;
        <button type="submit">Register</button>

    </form>
</body>
</html>