 {% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile Page</h1>

{% if profile.is_batch_admin %}
    <span class="badge bg-success">Batch Admin</span>
{% endif %}

<p><strong>Username:</strong> {{ profile_user.username }}</p>
<p><strong>Email:</strong> {{ profile_user.email }}</p>
<p><strong>Full Name:</strong> {{ profile_user.profile.full_name }}</p>
<p><strong>User Type:</strong> {{ profile_user.profile.user_type }}</p>
<p><strong>Graduation Year:</strong> {{ profile_user.profile.graduation_year }}</p>
<p><strong>Batch:</strong> {{ profile_user.profile.batch.batch_name }}</p>

{% if request.user.is_authenticated and request.user.id == profile_user.id %}
    <a href="{% url 'update_profile' %}">Update Profile</a>
{% endif %}
<br>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
<br>

{% endblock %}